@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico');
body {
    background-color: salmon;
    color:black;
    font-family: 'Pacifico', cursive;
    font-family: 'Indie Flower', cursive;
  }
  
  header {
    margin-top: 20px;
    
  }
  img {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
#imgCenter{
    position: relative;
    right: 10px;
    top: 5px;
}
  a {
    text-decoration: underline;
    color: blanchedalmond;
    margin-bottom: 30px;
  }
  
  #bannerflog img {
    height: 100px;
  }
  h1, p{
    color: black ;
  }
  h1{
    font-size: 50px;
    font-weight: bolder;
  }
  
  textarea, input{
    width: 100%;
    border-radius: 0px;
    border: 1px solid DeepPink;
    margin-bottom: 20px;
  }
  
  .posteo {
    color: DeepPink;
  }
  .posteo strong{
    display: block;
  }
  .posteo hr {
    border: 1px solid DeepPink;
  }
  /* PARA CORAZON */
  .corazon {
    font-size: 40px;
    color: gray;
    text-align: center;
  }
  .rojo {
    color: red;
  }
  footer{
    padding: 10px;
  }
  
  
  
  /* Estilos comentarios */
  
  